__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.o
*.obj
*.dll
!nomadexp.dll
*.so
*.dylib
*.exe
build/
dist/
*.spec
nomad_vectors.npy
nomad_paths.json
nomad_cache.dat
user_clicks.json
.vscode/
.idea/
.DS_Store
desktop.ini